<h1>Estos son los productos en tiempo real.</h1>

<div id="realTimeArray">
</div>

<h2>Formulario para agregar productos</h2>

{{!-- <form action="/upload" method="POST" enctype="multipart/form-data"> --}}
<form>
    <input type="text" id="title" placeholder="Titulo">
    <input type="text" id="description" placeholder="Descripcion">
    <input type="number" id="price" placeholder="Precio">
    <input type="text" id="img" value="Sin Imagen">
    <input type="text" id="code" placeholder="Código">
    <input type="number" id="stock" placeholder="Stock">
    <input type="text" id="category" placeholder="Categoria">
    <input type="text" id="thumbnail" placeholder="Thumbnail">
    <select id="status">
        <option value="true"> Activo </option>
        <option value="false"> Inactivo </option>
    </select>
    <button type="button" id="addBtn"> Agregar </button>
</form>
<br>
<br>

{{!--<h2> Formulario para eliminar productos </h2>

 <form>
    <input type="number" id="id" placeholder="ID del elemento a borrar.">
    <button type="button" id="deleteBtn">Eliminar</button>
</form> --}}

<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
<script src="JS/main.js"></script>